<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Derex Finess</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/Derex_logo.jpg" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/digitization.css" rel="stylesheet">
    <!-- Chatbot CSS -->
    <link rel="stylesheet" href="/assets/css/chatbot.css">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <!-- Uncomment below if you prefer to use an Text logo -->
            <!-- <h1 class="logo me-auto"><a href="index.html">Joseph</a></h1> -->
            <a href="index.html" class="logo me-auto"><img src="/assets/img/Derex_LogoWeb.png" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
                    <li><a class="nav-link scrollto" href="/templates/about.html">About</a></li>
                    <li><a class="nav-link   scrollto" href="/templates/blog/blog.html">Blog</a></li>
                    <li><a class="nav-link scrollto" href="/templates/support.html">Support</a></li>
                    <li class="dropdown"><a href="/templates/sevices/services.html"><span>Solution</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/templates/sevices/development.html">Business Development</a></li>
                            <li class="dropdown"><a href="/templates/sevices/digitalization.html"><span>Business
                                        Digitalization</span> <i class="bi bi-chevron-right"></i></a>
                                <!-- <ul>
                          <li><a href="#">Business Development</a></li>
                          <li><a href="#">Business Digitization</a></li>
                          <li><a href="#">Business Digitalization</a></li>
                          <li><a href="#">Business Globalization</a></li>
                          <li><a href="#">Business </a></li>
                      </ul> -->
                            </li>
                            <li><a href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li><a href="/templates/sevices/globalization.html">Business Globalization</a></li>
                            <li><a href="/templates/sevices/consultant.html">Business Consultation</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/templates/support.html">Support</a></li>
                    <li><a class="getstarted scrollto" href="/templates/signUp/form.html">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>Seize the Digital Advantage: Derex Finesse's
                        Expertise Awaits!</h1>
                    <h2>Choose Our Business Digitization Service for Seamless Transformation and Sustainable Success.
                    </h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/templates/signUp/form.html" class="btn-get-started scrollto">Get Started</a>
                        <a href="https://youtu.be/ACny7slqmkA?si=6xG6_TVukbEetEdY" class="glightbox btn-watch-video"><i
                                class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="/assets/img/digitization-bg.png" class="img-fluid animated" width="450px" alt="">
                </div>
            </div>
        </div>

        <canvas class="heroAnimat" width='2000' height='550'></canvas>

    </section><!-- End Hero -->


    <!-- Chatbot -->

    <div class="container">
        <div class="chatbox" data-aos="fade-up" data-aos-delay="200">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                            alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Derex Finesse</h4>
                        <p class="chatbox__description--header">Hi. How can we help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input id="input" type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="/assets/img/about/chatbox-icon.svg" /></button>
            </div>
        </div>
    </div>


    <!--Main layout-->
    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Key Benefits</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Do you see potential in reducing the processing time of incoming invoices and the associated
                            costs? You do not yet have an audit-capable workflow tool for incoming invoices?
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Making decision-making faster and more informed.
                            </li>
                            <li><i class="ri-check-double-line"></i> Reducing paperwork and optimizing operations</li>
                            <li><i class="ri-check-double-line"></i> Automate repetitive tasks and approval processes,
                                increasing operational efficiency</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            We assist businesses in transforming their existing processes, such as document handling,
                            storage, and retrieval, into digital formats. By digitizing your business operations, you
                            can eliminate manual errors, reduce costs, and enhance data security..
                        </p>
                        <a href="/templates/contactTeam-form.html" class="btn-learn-more">Contact team</a>
                    </div>
                </div>

            </div>

            <section id="featurs">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Key Features of Our Digitization Service</h2>
                    </div>

                    <div class="row content">
                        <div class="col-lg-6">
                            <p>
                                In the fast-evolving business sphere, digitization isn't just a choice; it's a strategic
                                necessity. Derex Finesse offers customized digitization services, empowering your
                                business to excel by optimizing processes and fostering innovation. Stay ahead in the
                                digital landscape, enhance productivity, and fuel sustainable growth with Derex Finesse.
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> <strong>Online Form Integration:
                                    </strong>
                                    Integrate online form solutions for efficient data collection, enabling seamless
                                    submission and processing of information in a secure digital environment.
                                </li>
                                <li><i class="ri-check-double-line"></i> <strong>Document conversation </strong>
                                    Implement document collaboration platforms to facilitate real-time conversations,
                                    version control, and collaborative editing, streamlining teamwork and enhancing
                                    document creation processes.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Cloud Storage Solutions:</strong>
                                    Adopt cloud storage solutions to securely store and access digital files from
                                    anywhere, promoting flexibility, scalability, and efficient document management in a
                                    digital workspace.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Data Security Measures:</strong>
                                    Implement robust data security measures, including encryption protocols and access
                                    controls, to safeguard sensitive information from unauthorized access and ensure
                                    compliance with data protection standards.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Data Automation Tools:</strong>
                                    Utilize data automation tools to streamline repetitive data-related tasks, reducing
                                    manual efforts, minimizing errors, and enhancing overall efficiency in data
                                    management processes.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                            <ul>
                                <li><i class="ri-check-double-line"></i> <strong>Cloud Adoption Strategy:</strong>
                                    Develop a comprehensive cloud adoption strategy, considering factors like
                                    scalability, cost-effectiveness, and data resilience, to optimize business
                                    operations in a cloud-based infrastructure.
                                </li>
                                <li><i class="ri-check-double-line"></i> <strong>CRM Integration for Client
                                        Management:</strong>
                                    Integrate a Customer Relationship Management (CRM) system to centralize client
                                    information, fostering efficient client interactions, personalized services, and
                                    data-driven decision-making.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Electronic Workflow
                                        Management:</strong>
                                    Implement electronic workflow management systems to automate and optimize business
                                    processes, ensuring a seamless flow of tasks and information across the
                                    organization.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Data Capture Automation:</strong>
                                    Integrate data capture automation technologies to streamline the extraction of
                                    information from various sources, reducing manual effort, improving accuracy, and
                                    enhancing data processing efficiency.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Business Process Mapping:</strong>
                                    Utilize business process mapping tools to visually represent and analyze workflows,
                                    identifying areas for optimization and automation in the digitization journey.</li>
                                <li><i class="ri-check-double-line"></i> <strong>Automated Reporting and
                                        Analytics:</strong>
                                    Implement automated reporting and analytics tools to generate real-time insights
                                    from digitized data, supporting data-driven decision-making and strategic planning.
                                </li>
                                <li><i class="ri-check-double-line"></i> <strong>MMulti-Cloud Strategy:</strong>
                                    Develop a multi-cloud strategy to leverage the benefits of different cloud service
                                    providers, optimizing performance, scalability, and redundancy while mitigating the
                                    risk of vendor lock-in.</li>
                            </ul>
                            <a href="/templates/payments/servicesForms/digitizationForm.html" class="btn-learn-more">Get
                                Service</a>
                        </div>
                    </div>
                </div>

            </section>
        </section><!-- End About Us Section -->


        <!--  =====services section==== -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Explore</h2>
                    <p>We provide an extensive range of expertly refined services dedicated to enhancing your
                        experience. Discover the diverse array of solutions that await you at Derex Finesse. Your
                        journey to simplified and optimized business processes begins here</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-chart-line fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="templates/sevices/consultant.html">Consultation</a></h4>
                            <ul class="list">
                                <li class="first">Strategic Planning</li>
                                <li>Establishment Planning</li>
                                <li>Documentary Guidance </li>
                                <li>Live Agent Support</li>
                            </ul>
                            <a href="/templates/sevices/consultant.html" class="button button1">Learn More</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-building fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/registration.html">Business Registration</a></h4>
                            <!-- <h2 class="text2">&dollar;119.99</h2> -->
                            <ul class="list">
                                <li class="first">Registration</li>
                                <li>Legal Compliance</li>
                                <li>Task handling</li>
                                <li>Business documentation</li>
                            </ul>
                            <a href="/templates/sevices/registration.html" class="button button1">Learn more</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-sitemap fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/digitalization.html">Digitalization</a></h4>
                            <ul class="list">
                                <li class="first">Digital incorporation</li>
                                <li>Lead sourcing</li>
                                <li>Workflow Automation</li>
                                <li>Social media presence
                                </li>
                            </ul>
                            <a href="/templates/sevices/digitalization.html" class="button button1">Learn more</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-sitemap fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/development.html">Business Development</a></h4>
                            <ul class="list">
                                <li class="first">Strategic Planning</li>
                                <li>Product Innovation</li>
                                <li>Market Growth</li>
                                <li>Competitive Analysis
                                </li>
                            </ul>
                            <a href="/templates/sevices/development.html" class="button button1">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="serviceCard row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                        data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-globe-americas fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/globalization.html">Business Globalisation</a></h4>
                            <ul class="list">
                                <li class="first">Global Reach</li>
                                <li>Cross-Border Trade</li>
                                <li>International Partnerships</li>
                                <li>Web3 integration</li>
                            </ul>
                            <a href="/templates/sevices/globalization.html" class="button button1">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="servComent">
                    <h2>Partner with us for financial solutions that truly make a difference in your journey toward
                        success.</h2>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Ready to take the next step in your business journey? We're here to listen, assist, and guide
                        you. At Derex Finesse, your goals become our mission. Connect with us today, and let's explore
                        how we can help you thrive in the digital world.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adress1:</h4>
                                <p>6381 greenscape dr hilliard, Ohio U.S.A</p>
                            </div>
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adress2:</h4>
                                <p>456/457 ikwerre Road rumokwuta port Harcourt</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>derexfinesse@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+234 7040286614</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.176045175236!2d-83.18392182540917!3d40.004515080627364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883896c0ce7e9975%3A0xd7dfa95224db739a!2s6381%20Greenscape%20Drive%2C%20Hilliard%2C%20OH%2043026%2C%20USA!5e0!3m2!1sen!2sng!4v1699896246770!5m2!1sen!2sng"
                                width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Newsletter</h4>
                        <p>Subscribe to our Newsletter for updates on our products</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="/assets/img/Derex_logo.jpg" alt="">
                        <p>
                            456/457 ikwerre Road rumokwuta port Harcourt<br><br>
                            <strong>Phone:</strong> +234 7040286614<br>
                            <strong>Email:</strong> derexfinesse@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#header">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/templates/about.html">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/services.html">Services</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Registration</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Digitization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Digitalization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Globalisation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Development</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Contact and connect with us through our social media handles. We're just a message away to
                            answer your
                            questions.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/DerexFinesse1" class="twitter"><i
                                    class="bx bxl-twitter"></i></a>
                            <a href="https://web.facebook.com/profile.php?id=61550024897090" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/derex_finesse/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="https://whatsapp.com/channel/0029Va5nrsj96H4XpD02Ou3B" class="google-plus"><i
                                    class="fab fa-whatsapp"></i></a>
                            <a href="https://www.linkedin.com/in/derex-finesse-939002292/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Derex finesse</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->


    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>