<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Derex Finess</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/Derex_logo.jpg" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/digitalization.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <!-- Uncomment below if you prefer to use an Text logo -->
            <!-- <h1 class="logo me-auto"><a href="index.html">Joseph</a></h1> -->
            <a href="index.html" class="logo me-auto"><img src="assets/img/Derex_LogoWeb.png" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
                    <li><a class="nav-link scrollto" href="/templates/about.html">About</a></li>
                    <li><a class="nav-link   scrollto" href="/templates/blog/blog.html">Blog</a></li>
                    <li><a class="nav-link scrollto" href="/templates/sevices/services.html">Services</a></li>
                    <li class="dropdown"><a href="/templates/sevices/services.html"><span>Solution</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/templates/sevices/development.html">Business Development</a></li>
                            <li class="dropdown"><a href="/templates/sevices/digitization.html"><span>Business
                                        Digitization</span> <i class="bi bi-chevron-right"></i></a>
                                <!-- <ul>
                          <li><a href="#">Business Development</a></li>
                          <li><a href="#">Business Digitization</a></li>
                          <li><a href="#">Business Digitalization</a></li>
                          <li><a href="#">Business Globalization</a></li>
                          <li><a href="#">Business </a></li>
                      </ul> -->
                            </li>
                            <li><a href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li><a href="/templates/sevices/globalization.html">Business Globalization</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/templates/support.html">Support</a></li>
                    <li><a class="getstarted scrollto" href="/templates/signUp/form.html">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>Embrace the Future: Unlock Your Business's Potential
                        through Digitalization!</h1>
                    <h2>Digitalization is the future of business - let us help you unlock its potential and watch your
                        success take off!
                    </h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                        <a href="https://youtu.be/ACny7slqmkA?si=6xG6_TVukbEetEdY" class="glightbox btn-watch-video"><i
                                class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="/assets/img/digitalization-bg.png" class="img-fluid animated" width="480px" alt="">
                </div>
            </div>
        </div>

        <canvas class="heroAnimat" width='2000' height='550'></canvas>

    </section><!-- End Hero -->

    <!--Main layout-->
    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Key Benefits</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            In today's fast-paced and competitive business landscape, digitalization is no longer just a
                            luxury; it's a necessity. Businesses that embrace digitalization gain a competitive edge by
                            streamlining operations, improving customer experiences, and driving innovation.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Gather and analyze data to make data-driven
                                decisions and optimize processes.
                            </li>
                            <li><i class="ri-check-double-line"></i> Stands out by offering user-friendly interfaces,
                                high customization, seamless integration, and scalability.</li>
                            <li><i class="ri-check-double-line"></i> By reducing paperwork and optimizing operations,
                                digitalization cuts operational costs.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Unlock the full potential of your business with Derex Finesse's Digitalization Service.
                            We're here to solve your challenges and drive your success. Streamline operations, cut
                            costs, and enhance customer experiences effortlessly. Let's turn your business into a
                            well-oiled, efficient machine. Contact us today to start your digital transformation
                            journey. Your success story begins with Derex Finesse.
                        </p>
                        <a href="#" class="btn-learn-more">Add to cart</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!--  =====services section==== -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Explore</h2>
                    <p>We provide an extensive range of expertly refined services dedicated to enhancing your
                        experience. Discover the diverse array of solutions that await you at Derex Finesse. Your
                        journey to simplified and optimized business processes begins here</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-building fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/registration.html">Business Registration</a></h4>
                            <!-- <h2 class="text2">&dollar;119.99</h2> -->
                            <ul class="list">
                                <li class="first">Online Filing</li>
                                <li>Legal Compliance</li>
                                <li>Document Verification</li>
                                <li>Customer Support</li>
                            </ul>
                            <a href="#" class="button button1">Add to cart</a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-chart-line fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="">Business Development</a></h4>
                            <ul class="list">
                                <li class="first">Strategic Planning</li>
                                <li>Product Innovation</li>
                                <li>Market Growth </li>
                                <li>Competitive Analysis</li>
                            </ul>
                            <a href="#" class="button button1">Add to cart</a>
                        </div>
                    </div>


                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                        data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-globe-americas fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="">Business Globalisation</a></h4>
                            <ul class="list">
                                <li class="first">Global Reach</li>
                                <li>Cross-Border Trade</li>
                                <li>International Partnerships</li>
                                <li>Diversified Markets</li>
                            </ul>
                            <a href="#" class="button button1">Add to cart</a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-cogs fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/digitization.html">Business Digitization</a></h4>
                            <ul class="list">
                                <li class="first">Workflow Automation</li>
                                <li>Data Security</li>
                                <li>Advanced Data Analytics</li>
                                <li>Scalable Business Platforms</li>
                            </ul>
                            <a href="#" class="button button1">Add to cart</a>
                        </div>
                    </div>

                </div>

                <div class="serviComent">
                    <h2>Partner with us for financial solutions that truly make a difference in your journey toward
                        success.</h2>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia fugiat sit
                        in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adress:</h4>
                                <p>456/457 ikwerre Road rumokwuta port Harcourt</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>derexfinesse@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+234 7040286614</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15902.35341308276!2d6.982637471257971!3d4.840521803501357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069ce13b648e9d9%3A0x76dccdefc56dc372!2sRumuokwuta%20500272%2C%20Port%20Harcourt%2C%20Rivers!5e0!3m2!1sen!2sng!4v1699278752377!5m2!1sen!2sng"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Newsletter</h4>
                        <p>Subscribe to our Newsletter for updates on our products</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="/assets/img/Derex_logo.jpg" alt="">
                        <p>
                            456/457 ikwerre Road rumokwuta port Harcourt<br><br>
                            <strong>Phone:</strong> +234 7040286614<br>
                            <strong>Email:</strong> derexfinesse@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#header">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/templates/about.html">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/services.html">Services</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Registration</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Digitization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Digitalization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Globalisation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Business Development</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Contact and connect with us through our social media handles. We're just a message away to
                            answer your
                            questions.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/DerexFinesse1" class="twitter"><i
                                    class="bx bxl-twitter"></i></a>
                            <a href="https://web.facebook.com/profile.php?id=61550024897090" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/derex_finesse/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fab fa-whatsapp"></i></a>
                            <a href="https://www.linkedin.com/in/derex-finesse-939002292/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>ArsDerex finesse</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->


    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>