<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/payment-option.css">
    <title>payment-option</title>
</head>

<body>
    <section class="info">
        <img src="/assets/img/derex-black.png">
        <h1>Choose your prefered payment method</h1>
    </section>
    <section class="cards-wrapper">
        <div class="card-grid-space">
            <div class="num">01</div>
            <a class="card" href="/templates/payments/payment.html" style="--bg-img: url(/assets/img/payment-1.jpg)">
                <div>
                    <h1>Pay with FIAT</h1>
                    <p>Click here to pay with your local curency…</p>
                    <div class="date">_____</div>
                    <div class="tags">
                        <div class="tag">FIAT</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">02</div>
            <a class="card" href="/templates/payments/crypto/options.html"
                style="--bg-img: url('/assets/img/payment-2.jpg')">
                <div>
                    <h1>Pay with Crypto</h1>
                    <p>Click here to pay with your prefered crypto coin…</p>
                    <div class="date">_____</div>
                    <div class="tags">
                        <div class="tag">Crypto</div>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="card-grid-space">
            <div class="num">03</div>
            <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/"
                style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
                <div>
                    <h1>Links, images and about file paths</h1>
                    <p>Learn how to use links and images along with file paths…</p>
                    <div class="date">14 Oct 2017</div>
                    <div class="tags">
                        <div class="tag">HTML</div>
                    </div>
                </div>
            </a>
        </div> -->
    </section>
</body>

</html>