<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Derex Finess</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/Derex_logo.jpg" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/Cloud-Based.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <!-- <h1 class="logo me-auto"><a href="index.html">Joseph</a></h1> -->
            <a href="index.html" class="logo me-auto"><img src="/assets/img/Derex_LogoWeb.png" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
                    <li><a class="nav-link scrollto" href="/templates/about.html">About</a></li>
                    <li><a class="nav-link scrollto" href="/templates/sevices/services.html">Services</a></li>
                    <li class="dropdown"><a href="#"><span>Solution</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li class="dropdown"><a href="/templates/sevices/digitalization.html"><span>Business
                                        Digitalization</span> <i class="bi bi-chevron-right"></i></a>
                                <!-- <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul> -->
                            </li>
                            <li><a href="/templates/sevices/development.html">Business Development</a></li>
                            <li><a href="/templates/sevices/globalization.html">Business Globalisation</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="/templates/signUp/form.html">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="fade-up">
            <div class="">
                <h1>Cloud-Based Solutions</h1>
                <p>Transforming Your Business with Cloud-Based Solutions</p>
            </div>
        </div>

        <canvas class="heroAnimat" width='2000' height='550'></canvas>

    </section><!-- End Hero -->

    <!--Main layout-->
    <main id="main">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>The Cloud: Your Business's New Best Friend</h2>
                    <p>Are you ready to supercharge your business and ride the digital wave to success? Well, you're in
                        for a treat because today, we're diving headfirst into the world of cloud services and how they
                        can take your business from a cozy cottage to a skyscraper of possibilities. So, grab your
                        virtual surfboard, and let's ride ont the Cloud-Based Solutions together!</p>
                    <p>Picture this: Your business is booming, but so are the piles of paperwork on your desk. Invoices,
                        contracts, customer data—everything is stacking up like a game of Jenga on a shaky table. You
                        need space, efficiency, and flexibility. Enter the cloud, your business's new best friend. With
                        cloud services, you can kiss those clunky file cabinets and overstuffed drawers goodbye.
                        Everything moves to the digital realm, and you can access your data from anywhere, at any time.
                        That means more beach vacations while still keeping an eye on your business—talk about work-life
                        balance!</p>
                    <h2>Scaling Up Without Breaking a Sweat</h2>
                    <p>You've got big dreams for your business, and scaling up is the name of the game. But here's the
                        catch: traditional methods of expansion can be slow, costly, and, let's face it, a bit of a
                        headache. Enter cloud services to save the day! Whether you're a small startup or a
                        well-established enterprise, the cloud scales with you effortlessly. Need more storage space?
                        It's there. Want to onboard a hundred new employees? Consider it done. Cloud services adapt to
                        your needs, ensuring your business grows as smoothly as a freshly waxed surfboard gliding
                        through the waves.</p>
                    <p>Say Goodbye to IT Headaches: Ah, the dreaded IT woes. Server crashes, software updates, and that
                        dreaded "404 Not Found"
                        error. It's like a storm cloud looming over your business. But guess what? The cloud brings
                        sunshine and rainbows to your IT department. Cloud service providers handle all the nitty-gritty
                        tech stuff. That means no more late-night calls to the IT guru or worrying about security
                        breaches. They've got your back. Your job? Focus on what you do best—running your business and
                        catching those waves of success.</p>
                </div>
                <h2>Read On</h2>
            </div>
        </section><!-- End Portfolio Section -->


        <!--  =====Blog section==== -->
        <section class="cardrow">
            <div class="cardrow container">
                <div class="cardrow row">
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.4s">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="/assets/img/portfolio/cloud1.png" class="img-fluid" width="357px" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">Cloud-Based Solutions</h4>
                                <!--Text-->
                                <p class="card-text">Enter the cloud, your business's new best friend. With cloud
                                    services, you can kiss those clunky file cabinets and overstuffed drawers goodbye.
                                </p>
                                <a href="#" class="btn btn-info">Read more</a>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--First columnn-->

                    <!--Second columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.6s">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="/assets/img/portfolio/security2.jpg" class="img-fluid" width="357px" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">Safeguarding Your Digital Assets</h4>
                                <!--Text-->
                                <p class="card-text">In the ever-expanding digital landscape, ensuring the safety and
                                    security of your valuable data is paramount.</p>
                                <a href="#" class="btn btn-info">Read more</a>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Second columnn-->

                    <!--Third columnn-->
                    <div class="col-lg-4">
                        <!--Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.8s">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="/assets/img/portfolio/Automation1.jpg" class="img-fluid" width="357px" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">The Power of Automation</h4>
                                <!--Text-->
                                <p class="card-text">Automation isn't just a buzzword; it's a game-changer.</p>
                                <a href="#" class="btn btn-info">Read more</a>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Third columnn-->
                </div>
                <!--/.Second row-->
            </div>
        </section>

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia fugiat sit
                        in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Adress:</h4>
                                <p>456/457 ikwerre Road rumokwuta port Harcourt</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>derexfinesse@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+234 7040286614</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15902.35341308276!2d6.982637471257971!3d4.840521803501357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069ce13b648e9d9%3A0x76dccdefc56dc372!2sRumuokwuta%20500272%2C%20Port%20Harcourt%2C%20Rivers!5e0!3m2!1sen!2sng!4v1699278752377!5m2!1sen!2sng"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Newsletter</h4>
                        <p>Subscribe to our Newsletter for updates on our products</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="/assets/img/Derex_logo.jpg" alt="">
                        <p>
                            456/457 ikwerre Road rumokwuta port Harcourt<br><br>
                            <strong>Phone:</strong> +234 7040286614<br>
                            <strong>Email:</strong> derexfinesse@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/index.html
                                ">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/templates/about.html">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/services.html">Services</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/digitization.html">Business Digitization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/digitalization.html">Business Digitalization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/globalization.html">Business Globalisation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/development.html">Business Development</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Contact and connect with us through our social media handles. We're just a message away to
                            answer your
                            questions.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/DerexFinesse1" class="twitter"><i
                                    class="bx bxl-twitter"></i></a>
                            <a href="https://web.facebook.com/profile.php?id=61550024897090" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/derex_finesse/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fab fa-whatsapp"></i></a>
                            <a href="https://www.linkedin.com/in/derex-finesse-939002292/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>ArsDerex finesse</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->


    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>