<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>About Us</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/Derex_logo.jpg" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Link Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template Main CSS File -->
    <link href="/assets/css/about.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html"><span>.</span></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo me-auto me-lg-0"><img src="/assets/img/Derex_LogoWeb.png" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/index.html">Home</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="/templates/blog/blog.html">Blog</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li class="dropdown"><a href="/templates/sevices/services.html"><span>Solution</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li class="dropdown"><a href="/templates/sevices/globalization.html"><span>Business
                                        Globalisation</span> <i class="bi bi-chevron-right"></i></a>
                                <!-- <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul> -->
                            </li>
                            <li><a href="/templates/sevices/digitalization.html">Business Digitalization</a></li>
                            <li><a href="/templates/sevices/digitization.html">Drop Down 3</a></li>
                            <li><a href="/templates/sevices/development.html">Business Development</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/templates/support.html">Support</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="/templates/signUp/form.html" class="get-started-btn scrollto">Get Started</a>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Empower Your Business Journey with Derex Finesse<span>.</span></h1>
                    <h2>We are Dream-Team elevating businesses with innovative strategies and unparalleled expertise.
                    </h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line"></i>
                        <h3><a href="/templates/blog/automatedDocument.html">Document Management</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line"></i>
                        <h3><a href="/templates/sevices/globalization.html">Business insights</a></h3>
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line"></i>
                        <h3><a href="">Sedare Perspiciatis</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line"></i>
                        <h3><a href="">Magni Dolores</a></h3>
                    </div>
                </div> -->
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-database-2-line"></i>
                        <h3><a href="/templates/blog/migratingTocloud.html">Cloud computing</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="/assets/img/about/about-image1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                        data-aos-delay="100">
                        <h3>Discover the Derex Finesse Difference:</h3>
                        <p class="fst-italic">
                            Where Expertise Meets Innovation. Unleashing a New
                            Era of Business Solutions Tailored to Your Success.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Tailored solutions designed around your unique
                                business requirements.</li>
                            <li><i class="ri-check-double-line"></i> Cutting-edge technologies like AI, machine
                                learning, and big data analytics.</li>
                            <li><i class="ri-check-double-line"></i> Expertise in global expansion strategies and
                                international markets been commited to eco-friendly practices and sustainability
                                efforts.</li>
                        </ul>
                        <p>
                            Seasoned professionals offering expertise in digital transformation, equipped with strategic
                            insights to help businesses thrive in a dynamic and ever-evolving landscape.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="/assets/img/partners2.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="/assets/img/partners1.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                            alt="" />
                    </div>
                </div>
            </div>
        </section><!-- End Clients Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="image col-lg-6" style='background-image: url("/assets/img/about/about-image3.jpg");'
                        data-aos="fade-right"></div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Automation</h4>
                            <p>Implementing automation solutions to optimize workflows, our focus spans from
                                digitization to digitalization, ensuring a significant boost in overall efficiency.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-cloud"></i>
                            <h4>Cloud Solutions</h4>
                            <p>We offer cloud solutions to help businesses store, manage and access data from anywhere,
                                anytime, and on any device.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-chart"></i>
                            <h4>Analytics And Reporting</h4>
                            <p>We eprovide advanced analytics and reporting services that allowed you to gain valuable
                                insights from your business data.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-shield"></i>
                            <h4>Security and Compliance</h4>
                            <p>WE ensure the safety and confidentiality of your business data.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>Check our Services</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-building fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></i></div>
                            <h4><a href="/templates/sevices/registration.html">Business Registration</a></h4>
                            <p>We provide you with effortless business registration for a quick start, eliminating
                                bureaucratic hassles and
                                saving valuable time.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-cogs fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></i></div>
                            <h4><a href="/templates/sevices/digitization.html">Business Digitization</a></h4>
                            <p>Transform your business with Derex Finesse! Elevate efficiency, streamline processes,
                                embrace the digital era. Click to explore digitization services and revolutionize your
                                business journey!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-sitemap fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="/templates/sevices/digitalization.html">Business Digitalization</a></h4>
                            <p>Revolutionize with Derex Finesse! Experience digitalization's transformative force -
                                streamline processes, boost productivity. Click now to explore our game-changing
                                services!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-globe-americas fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="">Business Globalization</a></h4>
                            <p>Unlock global opportunities with Derex Finesse! Expand your business, connect to new
                                markets, and achieve unprecedented growth. Explore possibilities!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-chart-line fa-fade"
                                    style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></div>
                            <h4><a href="">Business Development</a></h4>
                            <p>Transform your business with Derex Finesse! Explore dynamic business development
                                services, expand market reach, diversify revenue and achieve sustainable growth. Click
                                to innovate!</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h3>Contact Our Team Of Expert</h3>
                    <p> Ready to elevate your business to new heights? Connect with our expert team at Derex Finesse.
                        Our expert team is ready to
                        craft
                        personalized solutions that fuel growth, drive efficiency, and pave the way for success. Connect
                        with us today to elevate your business to new heights.</p>
                    <a class="cta-btn" href="/templates/contactTeam-form.html">Contact Team</a>
                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                        data-aos="fade-right" data-aos-delay="100"></div>
                    <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
                        data-aos-delay="100">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3>Crafting Success Together
                            </h3>
                            <p>
                                Embark on a transformative journey that exemplifies our unwavering commitment to
                                excellence. Join our collaborative efforts in shaping a shared success story.
                            </p>
                            <div class="row">
                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-emoji-smile"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="65"
                                            data-purecounter-duration="2" class="purecounter"></span>
                                        <p><strong>Happy Clients</strong> endless smiles – shaping success together.</p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-journal-richtext"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="85"
                                            data-purecounter-duration="2" class="purecounter"></span>
                                        <p><strong>Projects</strong> We're success architects, impactful projects,
                                            exceeding expectations.</p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-clock"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="5"
                                            data-purecounter-duration="4" class="purecounter"></span>
                                        <p><strong>Years of experience</strong> innovation, excellence and growth. Join
                                            us, redefine success digitally</p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-award"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="20"
                                            data-purecounter-duration="4" class="purecounter"></span>
                                        <p><strong>Awards</strong> join our success journey, redefine industry
                                            standards.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="/assets/img/about/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Williams Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Navigating complex regulations was a breeze with Derex Finesse. Their live agent
                                    support and strategic planning made business establishment effortless. Truly a
                                    game-changer!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div> <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="/assets/img/about/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Derex Finesse's digitalization services elevated our efficiency. From document
                                    guidance to live support, they exceeded expectations. A reliable partner for growth
                                    in the digital era.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div> <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="/assets/img/about/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Marie Caldera</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Derex Finesse transformed our business with their digital solutions. From seamless
                                    registration to global expansion, they delivered excellence at every step. Highly
                                    recommended!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div> <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="/assets/img/about/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Campbell</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Choosing Derex Finesse was a game-changer for our global expansion. Their expertise
                                    in cross-border trade and market diversification strategies has been pivotal to our
                                    success. Truly impressed!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div> <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="/assets/img/about/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Lincoln</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Exceptional service! Derex Finesse provided insightful consultation that reshaped
                                    our strategy. Their dedication to our success is unmatched. Grateful for their
                                    expertise.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div> <!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section> <!-- End Testimonials Section -->

        <!-- ======= Team Section ======= -->
        <div id="SwiperTittle" class="SwiperTittle">
            <h2>MEET THE TEAM</h2>
        </div>

        <section class="swiper mySwiper">

            <div class="swiper-wrapper">

                <div class="card swiper-slide">
                    <div class="card__image">
                        <img src="/assets/img/about/team1.jpg" alt="card image">
                    </div>

                    <div class="card__content">
                        <span class="card__title">Regson Goodluck c</span>
                        <span class="card__name">Ceo and cofounder</span>
                        <p class="card__text">Tech Enthusiast, Cyber security/Ai coach, web3 dev, creator.
                            Ceo Derex Universe</p>
                        <button class="card__btn">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__image">
                        <img src="/assets/img/about/team3.jpg" alt="card image">
                    </div>

                    <div class="card__content">
                        <span class="card__title">Joseph Agana O</span>
                        <span class="card__name">Team Lead</span>
                        <p class="card__text">Tech Enthusiast, Software Engineer and Graphics Designer</p>
                        <button class="card__btn">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__image">
                        <img src="/assets/img/about/team2.jpg" alt="card image">
                    </div>

                    <div class="card__content">
                        <span class="card__title">Sarah Bowen</span>
                        <span class="card__name">Data Analyst</span>
                        <p class="card__text">Cloud Engineer, metaverse and AI. Coffee Lover</p>
                        <button class="card__btn">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__image">
                        <img src="/assets/img/about/team4.jpg" alt="card image">
                    </div>

                    <div class="card__content">
                        <span class="card__title">Kelsey West</span>
                        <span class="card__name">Web3 Developer</span>
                        <p class="card__text">VR expert, Technical writer</p>
                        <button class="card__btn">View More</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Swiper Button -->
        <button id="swiper-prev" class="swiper-button-prev">Previous</button>
        <button id="swiper-next" class="swiper-button-next">Next</button>
        <!-- End Team Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.176045175236!2d-83.18392182540917!3d40.004515080627364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883896c0ce7e9975%3A0xd7dfa95224db739a!2s6381%20Greenscape%20Drive%2C%20Hilliard%2C%20OH%2043026%2C%20USA!5e0!3m2!1sen!2sng!4v1699896246770!5m2!1sen!2sng"
                        style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>- 6381 greenscape dr hilliard, Ohio U.S.A <br>
                                    - 456/457 ikwerre Road rumokwuta port Harcourt</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>derexfinesse@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+234 7040286614</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Derex Finesse<span>.</span></h3>
                            <p>
                                - 6381 greenscape dr hilliard, Ohio U.S.A <br>
                                - 456/457 ikwerre Road rumokwuta port Harcourt<br><br>
                                <strong>Phone:</strong> +234 7040286614<br>
                                <strong>Email:</strong> derexfinesse@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/DerexFinesse1" class="twitter"><i
                                        class="bx bxl-twitter"></i></a>
                                <a href="https://web.facebook.com/profile.php?id=61550024897090" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/derex_finesse/" class="instagram"><i
                                        class="bx bxl-instagram"></i></a>
                                <a href="https://whatsapp.com/channel/0029Va5nrsj96H4XpD02Ou3B" class="google-plus"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a href="https://www.linkedin.com/in/derex-finesse-939002292/" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/templates/blog/blog.html">Blog</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/services.html">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="contactTeam-form.html">Contact Team</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/registration.html">Business Registration</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/development.html">Business Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/globalization.html">Business Globalisation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/digitalization.html">Business Digitalization</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/templates/sevices/digitization.html">Business Digitization</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe to our Newsletter for updates on our products</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Derex Finesse</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->

    <script src="/assets/js/about.js"></script>
    <script src="/assets/js/chatBot.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

</body>

</html>