<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet" />
    <!-- Font awsome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


    <!-- Link Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="icon" href="img/LogoTittel.jpg" type="image/gif" />


</head>

<body>

    <!-- Home -->
    <section class="home">
        <nav class="navbar  navbar-expand-lg navbar-light  bg-light">
            <a href="index.html" class="navbar-brand logo"><img src="/static/img/Derex.png" width="130px" alt=""></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <div class="navbar-nav justify-content-center">
                    <a href="/templates/index.html" class="nav-item nav-link">Home</a>
                    <a href="/templates/blog/blog.html" class="nav-item nav-link">Blog</a>
                    <a href="#teamConect" class="nav-item nav-link">Contact</a>
                    <a href="/index.html#Services" class="nav-item nav-link">Services</a>
                </div>
                <!-- navbar search-box -->
                <!-- <form class="navbar-form form-inline">
          <div class="input-group search-box">
            <input
              type="text"
              id="search"
              class="form-control"
              placeholder="Search here..."
            />
            <div class="input-group-append">
              <span class="input-group-text"
                ><i class="material-icons">&#xE8B6;</i></span
              >
            </div>
          </div>
        </form> -->
                <div class="navbar-nav action-buttons ml-auto">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-3">Login</a>
                    <div class="dropdown-menu ">

                        <form id="login-form" class="login-form" action="#" method="post">
                            <div class="inputbox">
                                <i>Username</i>
                                <input type="text" id="username" name="name" required />
                            </div>
                            <div class="inputbox">
                                <i>Password</i>
                                <input type="password" id="password" name="password" required />
                            </div>
                            <div class="inputbox">
                                <input type="submit" class="btn btn-primary btn-block" value="Login" />
                                <p>Don't have an account? <span><a href="/signUp/form.html">Sign Up</a></span></p>
                            </div>
                        </form>


                    </div>
                    <a href="/signUp/form.html" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </nav>
    </section>

    <!-- Page Tittle -->
    <section>
        <div class="Tittle">
            <h4>About Us</h4>
            <h2>About <span>Derex Finesse</span> Fintech</h2>
        </div>
    </section>

    <div id="TittleContent" class="TittleContent">
        <h5>-Accelerate Your Growth-</h5>
        <h2>Derex Finesse Your All-in-One Business Solution</h2>
        <p>Welcome to Derex Finesse where we offer a complete suite of services to address every aspect of your business
            needs. Our holistic approach <br> to business solutions is designed to empower you to succeed in the modern
            digital landscape. <br> Whether you're starting a new venture or looking to take your existing <br> business
            to new heights, we've got you covered.</p>
    </div>


    <!-- Chatbot -->

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                            alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Derex Finesse</h4>
                        <p class="chatbox__description--header">Hi. How can we help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input id="input" type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="/assets/img/about/chatbox-icon.svg" /></button>
            </div>
        </div>
    </div>


    <!-- <section class="bottomWrap"> -->
    <section id="About-contents" class="About-contents">
        <h2>Our Process</h2>
        <p class="pText">At <span>DEREX FINESSE</span> We focus on providing innovative technology solutions tailored to
            your business needs and challenges. We aim to help businesses improve <br> their processes, streamline
            operations, and grow their revenue to achieve their full potential.</p>

        <div class="container aboutContainer">
            <div class="row">
                <div class="col-sm aboutContent">
                    <div class="contentImg1"></div>
                    <div class="contentsWrap">
                        <h5>Cloud Solutions</h5>
                        <p>We offer cloud solutions to help businesses store, manage and access data from anywhere,
                            anytime, and on any device.</p>
                    </div>
                </div>
                <div class="col-sm aboutContent">
                    <div class="contentImg2"></div>
                    <div class="contentsWrap">
                        <h5>Integration Services</h5>
                        <p>Our team can help integrate various software systems and applications seamlessly, enabling
                            smooth data flow between different platforms.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container aboutContainer">
            <div class="row">
                <div class="col-sm aboutContent">
                    <div class="contentImg3"></div>
                    <div class="contentsWrap">
                        <h5>CRM Solutions</h5>
                        <p>Our CRM (Customer Relationship Management) solutions can help you manage customer data,
                            improved sales and customer satisfaction.</p>
                    </div>
                </div>
                <div class="col-sm aboutContent">
                    <div class="contentImg4"></div>
                    <div class="contentsWrap">
                        <h5>Analytics and Reporting</h5>
                        <p>We provide advanced analytics and reporting services that allow you to gain valuable insights
                            from your business data.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Swiper Slider Team section -->

    <div id="SwiperTittle" class="SwiperTittle">
        <h2>MEET THE TEAM</h2>
    </div>

    <section class="swiper mySwiper">

        <div class="swiper-wrapper">

            <div class="card swiper-slide">
                <div class="card__image">
                    <img src="/assets/img/about/team1.jpg" alt="card image">
                </div>

                <div class="card__content">
                    <span class="card__title">Regson Goodluck c</span>
                    <span class="card__name">Ceo and cofounder</span>
                    <p class="card__text">Tech Enthusiast, Cyber security/Ai coach, web3 dev, creator.
                        Ceo Derex Universe</p>
                    <button class="card__btn">View More</button>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="card__image">
                    <img src="/assets/img/about/team2.jpg" alt="card image">
                </div>

                <div class="card__content">
                    <span class="card__title">Sarah Bowen</span>
                    <span class="card__name">Data Analyst</span>
                    <p class="card__text">Cloud Engineer, metaverse and AI. Coffee Lover</p>
                    <button class="card__btn">View More</button>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="card__image">
                    <img src="/assets/img/about/team3.jpg" alt="card image">
                </div>

                <div class="card__content">
                    <span class="card__title">Joseph Agana O</span>
                    <span class="card__name">Web Developer</span>
                    <p class="card__text">Tech Enthusiast, Software Engineer </p>
                    <button class="card__btn">View More</button>
                </div>
            </div>

            <div class="card swiper-slide">
                <div class="card__image">
                    <img src="/assets/img/about/team4.jpg" alt="card image">
                </div>

                <div class="card__content">
                    <span class="card__title">Kelsey West</span>
                    <span class="card__name">Web3 Developer</span>
                    <p class="card__text">VR expert, Technical writer</p>
                    <button class="card__btn">View More</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Swiper Button -->
    <button id="swiper-prev" class="swiper-button-prev">Previous</button>
    <button id="swiper-next" class="swiper-button-next">Next</button>


    <div id="teamConect" class="teamConect">
        <button class="btn"><a href="/services/serviceForm.html">Contact The Team</a></button>
    </div>


    <!-- Footer Section -->

    <!-- Footer Section -->

    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <img src="/staticimg/Derex.png" alt="">
                </div>
                <div class="media-icons">
                    <a href="https://web.facebook.com/profile.php?id=61550024897090"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/DerexFinesse1"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/derex_finesse/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/derex-finesse-939002292/"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://whatsapp.com/channel/0029Va5nrsj96H4XpD02Ou3B"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Product</li>
                    <li><a href="/templates/Business_Form/business.html">Business Registration </a></li>
                    <li><a href="/templates/services/digitization.html">Business Digitization </a></li>
                    <li><a href="/templates/services/digitalization.css">Business Digitalization</a></li>
                    <li><a href="/templatesservices/globalization.html">Business Globalisation </a></li>
                    <li><a href="/templates/services/development.html">Business Development </a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contacts</li>
                    <li><a href="https://www.whatsapp.com/channel/0029Va5nrsj96H4XpD02Ou3B">Chat with Us </a></li>
                    <li><a href="https://www.instagram.com/derex_finesse/">Instagram </a></li>
                    <li><a href="https://twitter.com/DerexFinesse1">Twitter </a></li>
                    <li><a href="/services/serviceForm.html">Contact Team </a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Company</li>
                    <li><a href="#About-contents">Process </a></li>
                    <li><a href="#SwiperTittle">Team </a></li>
                    <li><a href="#TittleContent">About</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name">Subscribe</li>
                    <li><input type="text" placeholder="Enter your email"></li>
                    <li><input type="button" value="Subscribe"></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright ©<a href="#">Derex-Finesse.</a>All rights reserved</span>
                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            </div>
        </div>
    </footer>






    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <!-- Initialize Swiper -->
    <script src="/assets/js/about.js"></script>
</body>

</html>