<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <link rel="stylesheet" href="/assets/css/contactTeam.css">
    <link rel="stylesheet" href="/assets/css/popUp.css">

    <title>Contact-team</title>
</head>

<body>


    <!-- ___Form background__ -->

    <canvas id="dustCanvas"></canvas>

    <!-- ___ Clear Form background__ -->
    <button id="clearCanvasBtn">Clear Canvas</button>



    <!-- ___Form Contenets__ -->
    <div class="container">
        <h2>Contact Us</h2>
        <form action="">
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="first_name" required="required">
                        <span class="text">First Name</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="last_name" required="required">
                        <span class="text">Last Name</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="email" required="required">
                        <span class="text">Email</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="mobile" required="required">
                        <span class="text">Mobile</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <select class="optWrap" id="serviceSelect" required="required"
                            onchange="updateSelectedService()">
                            <option class="opt" value="" disabled selected></option>
                            <option value="digitalization">Consultation</option>
                            <option value="digitalization">Business Digitalization</option>
                            <option value="registration">Business Registration</option>
                            <option value="digitization">Business Digitization</option>
                            <option value="globalisation">Business Globalisation</option>
                            <option value="business-development">Business Development</option>
                            <option value="cybersecurity">Cybersecurity</option>
                            <!-- Add more options as needed -->
                        </select>
                        <span class="text" id="selectedServiceText">Select Service</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <div class="inputBox textarea">
                        <textarea name="project_description" required="required"></textarea>
                        <span class="text">Project description...</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="file" name="file_upload" accept=".doc, .docx, .pdf" required="required">
                        <span class="text">Upload Document</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="row100">
                <div class="col">
                    <input type="submit" value="submit">
                </div>
            </div>
        </form>

        <div id="failureMessage" role="alert" style="display: none;">
            <div class="cd-popup-container">
                <p>Faild to submit form! Please check your credentials
                </p>
                <ul class="cd-buttons">
                    <li><a href="/templates/signUp/form.html">Try again</a></li>
                    <li><a href="/templates/index.html">Back home</a></li>
                </ul>
            </div>
        </div> <!-- cd-popup -->
        <div id="successMessage" role="alert" style="display: none;">
            <div class="cd-popup-container">
                <p>You have successfully submit the form!
                    Our support team will reach out soon.
                </p>
                <ul class="cd-buttons">
                    <li><a href="/templates/signUp/form.html">Try again</a></li>
                    <li><a href="/templates/index.html">Back home</a></li>
                </ul>
            </div>
        </div> <!-- cd-popup -->

    </div>






    <script src="/assets/js/contactTeam.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>