<!DOCTYPE html>
<html>

<head>
    <title>Support</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/support.css">
    <link rel="icon" href="/assets/img/Derex_logo.jpg" type="image/gif" />
</head>

<body>
    <!-- Header -->
    <header>

        <!-- Navigation -->
        <nav class="navbar">
            <div class="nav-logo">
                <img src="/assets/img/Derex_LogoWeb.png">
            </div>

            <ul class="nav-links">
                <li>Home</li>
                <li>Support</li>
                <li class="contact">Contact Us</li>
            </ul>

            <img class="nav-col" src="./assets/nav-menu (3).svg">
        </nav>

        <div class="header-content">
            <h1>How can we help you !</h1>
            <div class="search-box">
                <input type="text" name="">
                <button>Search</button>
            </div>

        </div>

    </header>

    <!--  Floating ChatBot Button -->
    <div class="chat-bot-btn">
        <span>1</span>
        <img src="/assets/img/chatbox-icon.svg">
    </div>

    <!-- Body 2-->
    <main>

        <ul class="categories">
            <li>Product</li>
            <li>Service</li>
            <li>Onboarding</li>
            <li>Ask Question</li>
        </ul>


        <ol class="faq-box">

            <li>
                <p>What is the best ?</p>
                <span>&rArr;</span>
            </li>

            <li>
                <p>How can i get paid from derex ?</p>
                <span>&rArr;</span>
            </li>

            <li>
                <p>Is this business great for investment ?</p>
                <span>&rArr;</span>
            </li>

            <li>
                <p>What is the price tag ?</p>
                <span>&rArr;</span>
            </li>

        </ol>


    </main>


</body>

</html>