<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/css/forgotPassword.css" />
    <title>Forgot-password</title>
  </head>
  <body>

    <section class="homeSection">
      <span></span>
  
        <!-- Form -->
      <div class="signin">
        <div class="content">
          <h2>Account reset</h2>
          <div class="formWrap">
            <form id="resetPasswordform" class="form" action="." method="POST">
              {% csrf_token %}
              <div class="inputbox">
                {{ form.email }}
                {% comment %} <input type="text" name='email' class='email' /> {% endcomment %}
                <i>Email</i>
              </div>
            <div class="inputbox">
              <input type="submit" value="Rest Password" />
            </div>
            </form>
          </div>         
        </div>
        {% if error %}
        <div class="messages">       
              <div id="failure-message">
                <p style='color: #fff'>{{ error }}</p>
              </div>
        </div>
        {% endif %}
      </div>
    </section>

    <script src="/static/js/forgotPasswordeee.js"></script>
  </body>
</html>
