<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/css/SignUpSuccess.css">
    <title>Registered</title>
</head>
<body>
    <section>
    <div class="container">
        <p class="p1">Thanks for signing up Flora.</p>
        <p class="p2">Kindly check peachyflora50@gmail.com and click the link to confirm the email for security purpose.  </p>

        <div class="option">
            <p>Home</p>
            <p>Support center</p>
        </div>
        <p class="derex">DEREX FINESSE</p>
    </div>
</section>
</body>
</html>